body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.search {
    z-index: 1;
    position: fixed;
    top: 5px;
    left: 5px;
}

.search-field {
    background: rgb(5, 70, 100);
    border: 1px solid darkgrey;
    font-size: 100%;
    width: 320px;
    padding: 5px;
}

.button {
    text-align: center;
    padding: 5px;
    background-color: rgb(82, 175, 218);
    border: 1px darkgrey solid;
    cursor: pointer;
    width: 334px;
}

ul {
    background: rgb(55, 178, 235);
    border: 1px darkgrey solid;
    overflow: auto;
    padding: 0px;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}

.box {
    cursor: pointer;
    padding: 5px;
}

.box:hover {
    background-color: #a0a827;
    color: rgb(55, 178, 235);
}